.container .row{background-color: white; padding-top: 1vh; margin-top: 1vh}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {color: #fff; background-color: #215b7d;}
.nav-pills .nav-link {border-radius: 0;}
.nav a{color:#215b7d}

.addjob-form {width: 95%; color:rgb(33,91,125); font-family: 'Calibri'}
.addjob-form input[type="text"]{background-color: transparent; border: 0px; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; width:75%}
.addjob-form tr:nth-child(1) td:nth-child(1){height: 10vh; font-size: 26px; padding-left: 10px}
.addjob-form tr:nth-child(2) td:nth-child(1){height: 5vh; border-bottom: 1px solid rgb(33,91,125);}
.addjob-form tr:nth-child(2) td:nth-child(1) span {background-color: rgb(242,242,242); padding:0.5vh 1vw; margin-left: 10px}
.addjob-form tr:nth-child(3) td:nth-child(1){height: 40vh}
.addjob-form tr:nth-child(3) td:nth-child(1) textarea {height: 100%; width: 100%; resize: none; border:2px solid rgb(33,91,125); outline: none}
.addjob-form tr:nth-child(4) td:nth-child(1){height: 5vh}
.addjob-form tr:nth-child(4) td:nth-child(1) button{border:0px solid black; background-color: rgb(33,91,125); color:white; padding: 1vh 1vw}