html,body { height: 100%; }

body {
    background-color: rgb(33,91,125);
    font-family: 'Segoe UI Condensed','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0px auto -98px;
}

#push, footer{
    height: 90px;
}

header{
    position: relative;
    background-color: rgb(28,28,28);
    z-index: 101;
    box-shadow: 0px 0px 3px black;
}

.navbar-brand>svg {
        max-height: 36px;
        max-width: 170px;
}

.navbar-icon{
    max-height: 35px;
    max-width:  35px;
    cursor: pointer;
}

.circle-container-logo{
    width: 24vh;
    height: 24vh;
    margin-left: -12vh;
    margin-top: -12vh;
}

.circle-container { margin : 11vh auto; }
.circle-container > * {
    color: rgb(255,255,255);
    font-size: 2vh;
    cursor: pointer;
}
.circle-container div {
    position: relative;
    z-index: 1;
}
.circle-container span{font-size: 80%;}

#read-description{
    position: absolute;
    height: 75vh;
    width: 110vh;
    top: -100vh;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-color: white;
    z-index: 100;
    cursor: default;
}

.back-ico{width:5vh; height:5vh; vertical-align:middle}
#read-description-back-button .back-ico {margin-top: 2vh; cursor: pointer}
#read-description-back-button .back-ico {margin-top: 2vh; cursor: pointer}
.tab-content ol{list-style: decimal inside;}
.tab-content ul{list-style-type: disc;}
.tab-content ul li{display: list-item;}
.tab-content {line-height: 130%; height: 72vh; overflow: scroll; overflow-x: auto; margin-bottom: 1vh;}

.email-form {width: 85%; color:rgb(33,91,125); font-family: 'Calibri'}
.email-form input[type="text"],.email-form input[type="email"]{background-color: transparent; border: 0px; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; width:75%}
.email-form tr:nth-child(1) td:nth-child(1){height: 10vh; font-size: 26px; padding-left: 10px}
.email-form tr:nth-child(2) td:nth-child(1){height: 5vh; border-bottom: 1px solid rgb(33,91,125);}
.email-form tr:nth-child(2) td:nth-child(1) span {background-color: rgb(242,242,242); padding:0.5vh 1vw; margin-left: 10px}
.email-form tr:nth-child(3) td:nth-child(1){height: 5vh}
.email-form tr:nth-child(4) td:nth-child(1){height: 40vh}
.email-form tr:nth-child(4) td:nth-child(1) textarea {height: 100%; width: 100%; resize: none; border:2px solid rgb(33,91,125); outline: none}
.email-form tr:nth-child(5) td:nth-child(1){height: 5vh}
.email-form tr:nth-child(5) td:nth-child(1) button{border:0px solid black; background-color: rgb(33,91,125); color:white; padding: 1vh 1vw}

.location {border: none; background: no-repeat url("../img/location.png"); background-repeat:no-repeat; background-size:contain; background-position:center; width: 50px; height:50px; margin-top: 10px; vertical-align: middle}
.location:focus { outline: none !important; }
.popover {max-width: 650px;}

footer{
    background-color: rgb(28,28,28);
    color: rgb(0,171,236);
    cursor: default;
    box-shadow: 0px 0px 3px black;
}
footer .navbar{padding: 0rem 1rem !important;}
address {margin-top: 5px; color: white; margin-bottom: 0 !important; font-style: normal; line-height: 20px !important;}
