/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@mixin on-circle($item-count, $circle-size, $item-size) {  
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0; 
  list-style: none;
  
  > * {
    display: block;
    position: absolute;
    border: solid 2px white;
    border-radius: 50%;
    top:  50%; 
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;
  
    $angle: (360 / $item-count);
    $rot: 270;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }
	  &:nth-of-type(#{$i}):after {
        content:"";
		position: absolute;
        top: 50%;
		left: -4em;
		right: -4em;
		border-top: 2px dashed white;
		z-index: -1;
		transform: rotate($rot * 1deg) translate(-8em) rotate(0deg);
      }
	  $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 9, $circle-size: 60vh, $item-size: 18vh); 
  margin: 9vh auto;
  border: solid 0px tomato;
  

  img { 
    display: block; 
    max-width: 100%;
    //filter: grayscale(100%);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     
    /*&:hover {
      filter: grayscale(0);
    }*/
  }
    
  div { 
    display: block; 
    max-width: 100%; 
    height: 100%;
    border-radius: 50%;
    background-color: rgb(33,91,125);
    padding: 1em;
  }
    
    span {
        width: 100%;
        position: relative;
        display: inline-block;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
}