/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}*/

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 50, ../sass/screen.scss */
.circle-container {
  position: relative;
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 9vh auto;
  border: solid 0px tomato;
}
/* line 17, ../sass/screen.scss */
.circle-container > * {
  display: block;
  position: absolute;
  border: solid 2px white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -9vh;
  width: 18vh;
  height: 18vh;
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(1) {
  transform: rotate(270deg) translate(30vh) rotate(-270deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(1):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(270deg) translate(-8em) rotate(0deg);
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(2) {
  transform: rotate(315deg) translate(30vh) rotate(-315deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(2):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(315deg) translate(-8em) rotate(0deg);
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(3) {
  transform: rotate(360deg) translate(30vh) rotate(-360deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(3):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(360deg) translate(-8em) rotate(0deg);
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(4) {
  transform: rotate(405deg) translate(30vh) rotate(-405deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(4):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(405deg) translate(-8em) rotate(0deg);
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(5) {
  transform: rotate(450deg) translate(30vh) rotate(-450deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(5):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(450deg) translate(-8em) rotate(0deg);
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(6) {
  transform: rotate(495deg) translate(30vh) rotate(-495deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(6):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(495deg) translate(-8em) rotate(0deg);
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(7) {
  transform: rotate(540deg) translate(30vh) rotate(-540deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(7):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(540deg) translate(-8em) rotate(0deg);
}
/* line 32, ../sass/screen.scss */
.circle-container > *:nth-of-type(8) {
  transform: rotate(585deg) translate(30vh) rotate(-585deg);
}
/* line 35, ../sass/screen.scss */
.circle-container > *:nth-of-type(8):after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4em;
  right: -4em;
  border-top: 2px dashed white;
  z-index: -1;
  transform: rotate(585deg) translate(-8em) rotate(0deg);
}
/* line 56, ../sass/screen.scss */
.circle-container img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*&:hover {
    filter: grayscale(0);
  }*/
}
/* line 73, ../sass/screen.scss */
.circle-container div {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #215b7d;
  padding: 1em;
}
/* line 82, ../sass/screen.scss */
.circle-container span {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
